{% extends 'base.html' %}

{% block main %}
<h1 class="page-header">Properties</h1>


{# Add the appropriate method and enctype attributes to the form tag to allow for file uploads #}
<form action="{{ url_for('properties') }}" method = "post" enctype = "multipart/form-data">
  {{form.csrf_token}}

  {# Add the file upload field as you learnt for Flask-WTF #}
  {{form.title.label}}
  {{form.title(class= "form-control")}}
  {{form.Description.label}}
  {{form.Description(class= "form-control")}}
  {{form.no_of_bedrooms.label}}
  {{form.no_of_bedrooms(class= "form-control")}}
  {{form.no_of_bathrooms.label}}
  {{form.no_of_bathrooms(class= "form-control")}}
  {{form.price.label}}
  {{form.price(class= "form-control")}}
  {{form.type.label}}
  {{form.type(class= "form-control")}}
  {{form.location.label}}
  {{form.location(class= "form-control")}}
  {{form.photo.label}}
  {{form.photo(class= "form-control")}}

  <button type="submit" name="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}